body {
	margin: 0px;
}

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 1600px;
	padding-left: 1rem;
	padding-right: 1rem;
	width: 100%;
}

.p-grid {
    display: flex;
    flex-wrap: wrap;
}

.p-formgroup-inline {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.p-field {
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.p-field input {
	margin-top: 5px;
}

.label-oculto {
	color: white;
	pointer-events: none;
	width: 100%;
}

.mb-3 {
	margin-bottom: 3rem;
}

.mt-3 {
	margin-top: 3rem;
}

.w-100 {
	width: 100%;	
}